@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body), ui-sans-serif, system-ui;
  background: #f8fafc;
  color: #0f172a;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), ui-sans-serif, system-ui;
}
